<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Blood Availability Status</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/static/css/homepage.css"/>
<link rel="stylesheet" type="text/css" id="sliderStylesheet" href="/static/css/style.css"/>
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
</style> 
</head>
<body>
<form method='post'>
    <input type="text" name="blood_group">
    <input type="submit">
</form>
</body>
</html>